@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #121212;
  color: #fafafa;
}

.main > * {
  scroll-snap-type: start;
  scroll-snap-stop: normal;
}

.LeftSidebar {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1;
  margin-left: 3px;
}

.RightSidebar {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  margin-left: 3px;
}

.first {
  animation: fadeIn .8s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background-color: #212121;
  width: 100%;
  height: 100vh;
}

.first > h1 {
  font-size: 30px;
  word-break: keep-all;
  text-align: center;
}

.second {
  background-image: url(/code.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.leftTop {
  position: absolute;
  z-index: 15;
  right: 0;
  text-align: right;
  background-color: #212121aa;
  padding: 20px;
  max-width: 300px;
}

.leftTop > h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}